<mat-form-field class="search-form" appearance="outline">

  <mat-chip-list #chipList>
    <mat-chip *ngFor="let ingredient of ingredients" removeable (removed)="onRemoveIngredient(ingredient)"
      disableRipple>
      {{ingredient}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <input placeholder="Add ingredient..." onfocus="this.placeholder=''" #ingredientInput
    [formControl]="ingredientCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
    (matChipInputTokenEnd)="add($event)">

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectIngredient($event)">
    <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
      {{ingredient}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>

<a class="f5 link dim br-pill ba ph4 pv2 mr2 dib dark-blue" (click)="onClickClearSearchField($event)"
  href="#">Clear</a>

<a class="f5 link dim br-pill ph4 pv2 ml2 dib white bg-dark-blue" (click)="onClickSearchRecipes($event)"
  href="#">Search</a>
