{
  "*.ts": [
    "prettier --write",
    "git add",
    "tslint"
  ],
  "*.css": [
    "prettier --write",
    "git add",
    "stylelint"
  ],
  "*.js": [
    "prettier --write",
    "git add"
  ]
}
